.custom-marker {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #10b981; /* Vert PrimeNG */
  color: #fff;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

.timeline-content {
  font-size: 0.95rem;
}

.text-gray-600 {
  color: #6b7280;
}
